<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout="row">
    <div flex="10" layout="" layout-align="center center">
        <span class="md-body-1">R:</span>
    </div>
    <md-slider flex="" min="0" max="255" ng-model="r" aria-label="red" id="red-slider" class="">
    </md-slider>
</div>
<div layout="row">
    <div flex="10" layout="" layout-align="center center">
        <span class="md-body-1">G:</span>
    </div>
    <md-slider flex="" min="0" max="255" ng-model="g" aria-label="red" id="green-slider" class="">
    </md-slider>
</div>
<div layout="row">
    <div flex="10" layout="" layout-align="center center">
        <span class="md-body-1">B:</span>
    </div>
    <md-slider flex="" min="0" max="255" ng-model="b" aria-label="red" id="blue-slider" class="">
    </md-slider>
</div>
<div layout="row">
    <div flex="10" layout="" layout-align="center center">
        <span class="md-body-1">A:</span>
    </div>
    <md-slider flex="" step="0.1" min="0" max="1" ng-model="a" aria-label="red" id="alpha-slider" class="">
    </md-slider>
</div>

<div style="width: 300px; height: 100px; background-color:
    rgba({{ r }}, {{ g }}, {{ b }}, {{ a }});">
</div>



</body>
</html>